# EditorConfig: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[**]
end_of_line = lf
insert_final_newline = true
tailing_whitespace = false

[**.xml]
tailing_whitespace = true # Don't change the files that DISA provides

[Makefile]
indent_style = tab

[{**.py, **.css, **.js, **.html}]
indent_size = 4
indent_style = space
