{% extends "base.html" %}

{% block title %}Security Requirements Guide IDs{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumb-nav">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">SRGs</li>
        </ol>
    </nav>
</div>
{% endblock %}
{% block content %}
<h1>Security Requirements Guide IDs (SRGID)</h1>
<table class="table">
    <thead>
        <tr>
            <th>SRGID</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        {% for srg in srgs.keys() %}
            <tr>
                <td>{{ srg }}</td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
