name: Deploy
on: 
  push:
  pull_request: 

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: "Check out the repository"
        uses: actions/checkout@v5
      - name: "Setup Python"
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Install Python Dependencies
        run: pip install -r requirements.txt
      - name: Build It
        run: make
